/*


font-family: 'Castoro', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Mukta', sans-serif;
*/


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #ebebeb;
  --primary-color:                #002961;
  --section-bg-color:             #dfdfdf;
  --secondary-section-color:       #d1d1d1;
  --border-color:                 #dee2e6;
  --dark-color:                   #000000;
  --grey-color:                   #fcfeff;
  --title-color:                  #565758;
  --p-color:                      #080808;
  --footer-bg-color:              #07262e;
  --nav-color:                     #555555;


  --body-font-family:             'Karla', sans-serif;

  --h1-font-size:                 68px;
  --h2-font-size:                 42px;
  --h3-font-size:                 36px;
  --h4-font-size:                 32px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --menu-font-size:               18px;
  --copyright-text-font-size:     16px;
  --custom-link-font-size:        14px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             600;
}

body {
    background: var(--section-bg-color);
    font-family: var(--body-font-family); 
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/


h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  
  font-family: 'Mukta', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: normal;

}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  font-family: 'Mukta', sans-serif;
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}



::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--white-color);
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.paddingText {
  padding: 50px;
}


.navbar-brand i { margin-right: 12px; }

.backstretch { max-width: 99.99%; }

/*---------------------------------------
  CUSTOM ICON               
-----------------------------------------*/
.play-icon-wrap {
  background: var(--white-color);
  border-radius: .3rem;
  position: relative;
  z-index: 2;
  padding: 10px 12px;
  max-width: 152.31px;
}

.play-icon {
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 100px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}

.play-icon::before {
  display: block;
  padding-top: 5px;
  padding-left: 5px;
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--primary-color);
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
  font-weight: var(--font-weight-bold);
  padding: 12px 24px;
}

.custom-bg-dark {
  background: var(--primary-color);
}

.custom-bg-dark:hover {
  background: var(--dark-color);
}

.custom-btn:hover {
  background: var(--dark-color);
  color: var(--white-color);
}

/*---------------------------------------
  FAQ ACCORDION               
-----------------------------------------*/
.accordion-item {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.accordion-header,
.accordion-button {
  color: var(--p-color);
}

.accordion-button {
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background: transparent;
  box-shadow: none;
}

button:focus:not(:focus-visible) {
  border-color: transparent;
  box-shadow: none;
}

.accordion-item:last-of-type {
  border-radius: 0;
}

.accordion-body {
  border-top: 1px solid rgba(0,0,0,.125);
}

.accordion-button {
  font-size: var(--copyright-text-font-size);
  font-weight: var(--font-weight-normal);
  padding-top: 1.5rem;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;
}

.accordion-body {
  padding: 2rem 0;
}

/*---------------------------------------
  HERO              
-----------------------------------------*/

.dropi{
  color: var(--white-color);
}

.dropi-white{
  color: #000000 !important;
}


.hero {
  padding-top: 120px;
  padding-bottom: 60px;
  position: relative;
}

.heroText {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 991px) {
  .hero {
    height: 75vh;
	min-height: 600px;
  }
}

.overlay {
  background: rgba(128,142,176, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.carousel-item.active {
  height: 100%;

}

.carousel-item {
  transition: transform 2.6s ease-in-out;
}

.carousel-item-start > .carousel-caption{
  display: none !important;
}


.carousel-desc{
  align-self: center;
  margin: auto;
  padding: 10px;
}

.banner-carousel{
  height: 100%;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  border-color: #a3a3a3;
}

.overlay.dark-overlay {
  background: rgba(0,0,0, 0.75);
}

.nav-tabs .nav-link {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid transparent;
  color: var(--nav-color);
  border-color: #a3a3a3;
  font-weight: var(--font-weight-bold);
  margin: auto;
  position: relative;
  top: 1px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  background: transparent;
  border-color: transparent;
  border-bottom-color: var(--primary-color);
  color: var(--dark-color);
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background 0.3s ease-out;
}

.sticky-nav {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.sticky-nav .navbar-brand {
  color: #002961;
}

.sticky-nav .navbar-nav .nav-link {
  color: var(--p-color);
}

.navbar-brand {
  display: flex;
  font-size: 30px;
  color: #002961;
  font-family: 'Castoro', serif;
  background-color: var(--white-color);
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.navbar-brand:hover {

  color: #002961;

}



.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-nav .nav-link {
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: #93bfff;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--p-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--p-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
  OUR WORK              
-----------------------------------------*/

/* .about{
  background-color: var(--secondary-section-color);
} */

.work{
  background-image: url("../images/goal-background.jpg");
  /* "../images/goal-background.jpg" */
  object-fit: cover;
  background-size: cover;
  

}
.work-thumb {
  position: relative;
  overflow: hidden;
}

.work-thumb-text {
  padding: 20px 30px;
}

.work-thumb:hover .work-image {
  opacity: 1;
  transform: scale(1.05);
}

.work-text-info {
  background: var(--section-bg-color);
  border-radius: .3rem;
  border-bottom: 5px solid var(--border-color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  transition: filter 0.5s;
}

.work-thumb:hover .work-text-info {
  filter: blur(2px);
}

.work-title {
  display: block;
  margin-bottom: 0;
}

.work-image {
  border-radius: .3rem;
  transition: all 0.5s;
}

.work-tag {
  border-radius: 100px;
  color: var(--p-color);
  font-size: 12px;
  font-weight: var(--font-weight-light);
  padding: 2px 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  margin-bottom: 10px;
}

/*---------------------------------------
  News            
-----------------------------------------*/


.news-card-content{
  border-right: solid 1px;
  border-right-color: #002961;
}

.news-card-p{
  color: #002961;
}

/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: var(--white-color);
  border-color: #b9b9b9;
}

.custom-form label {
  color: var(--p-color);
  font-weight: var(--font-weight-normal);
}

.custom-form button[type="submit"] {
  background: var(--primary-color);
  border: 0;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  transition: all 0.3s;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--dark-color);
  color: var(--white-color);
}

.subscribe-form .form-control {
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: var(--white-color);
  color: var(--white-color);
}

.subscribe-form input {
  border-radius: 0;
}

.subscribe-form button[type="submit"] {
  background: var(--white-color);
  color: var(--dark-color);
}

/*---------------------------------------
  SERVICES               
-----------------------------------------*/
.services {
  background: var(--secondary-section-color);
}

.services-image {
  display: block;
  margin: auto;
  width: 250px;
  height: 220px;
  object-fit: contain;
}

.services-info {
  background: var(--white-color);
  position: relative;
  text-align: center;
  /* min-height: 280px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-body{
  background-color: var(--white-color);
  border-color: #b9b9b9;
}

/*---------------------------------------
  Procurement            
-----------------------------------------*/

.procurement-item{
   height: 250px;
   position: relative;
   overflow: hidden;
   border: solid 5px;
   border-color: var(--section-bg-color)
   

}

.procurement-p{
  color: var(--primary-color);
  font-weight: bold;
  flex-direction: column;
  text-align: center;
  padding: 18px;
  background-color: var(--section-bg-color);
  width: 100%;

}

.procurement-item-img{
  object-fit: cover;
}

.procurement-demine-pic{
  z-index: -1;
   object-position: -35px -40px;
}

/*---------------------------------------
  Our Goal             
-----------------------------------------*/

.goal{
border-style: double;
padding: 7%;
border-color: #002961;
background-color: var(--white-color);
display: flex;
flex-direction: column;
align-items: center;

}

.goal-img{
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.goal-text{
  margin-top: 2%;
  color: #002961;
  font-family: 'Castoro', serif;
}



/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.site-footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.tooplate-link a {
	color: var(--white-color);
}

.footer-menu {
  padding: 0;
}

.footer-menu-item {
  display: block;
  list-style: none;
}

.footer-menu-link,
.footer-link {
  display: inline-block;
  color: rgba(255,255,255,0.8);
  font-size: var(--copyright-text-font-size);
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-menu-link:hover,
.footer-link:hover {
  color: var(--white-color);
  text-decoration: underline;
}

.site-footer .social-icon-link,
.site-footer .copyright-text {
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
}



/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  body {
    padding-top: 80px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }
	
  .section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .custom-btn {
    font-size: var(--copyright-text-font-size);
    padding: 8px 16px;
  }

  .navbar {
    background: var(--white-color);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
  }

  .navdrop{
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    padding-top: 15px;
    padding-bottom: 15px;
}


  .navbar-nav .nav-link {
    color: var(--p-color);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .site-footer {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .site-footer-bottom,
  .site-footer .social-icon {
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  .paddingText {
    padding: 25px;
  }

  .pricing-plan {
    padding: 60px 30px 20px 30px;
  }

  .pricing-header {
    padding-bottom: 20px;
  }

  .pricing-body {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
  }
  .carousel-p{
    font-size: 1.8vw;
  }


}

@media screen and (max-width: 480px) {
  .pricing-name,
  .pricing-price {
    margin-bottom: 0;
  }

  .pricing-price {
    max-width: 45px;
    margin-right: auto;
  }
}


@media screen and (max-width:768px) {
  .procurement-demine-pic{
    object-position: 0px -70px !important;
   }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropi-menu{
    margin-top: 150px;
  }
}